   body {
      margin: 0;
      box-sizing: border-box;
font-family: Calibri, Helvetica, sans-serif;  
  background-color: lightgrey;  
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: black;
    }

    .header .logo {
      image-size: 25px;
      margin-left: 30px;
    }

    .nav-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: black;
      margin-right: 20px;
    }

    .nav-items a{
      text-decoration: none;
      color: white;
      padding: 35px 20px;
 
    }
    
    .bottom-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px 0;
    }

    .bottom-links .links {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0px;
    }

    .bottom-links .links span {
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      margin: 5px 0;

    }

    .bottom-links .links a {
      text-decoration: none;
      color: #a1a1a1;
      padding: 5px 1px;

    }

    .intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 700px;
      background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),url("bookstack.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

.intro h1 
{
      	font-family: sans-serif;
      	font-size: 80px;
      	color: #fff;
      	font-weight: bold;
      	text-transform: uppercase;
      	margin: 0;
}

.intro p 
{
      	font-size: 30px;
      	color: #fff;
      	font-weight: bold;
      	text-transform: uppercase;
      	margin: 20px 0;
      	text-align=center;
}


    .services {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 40px 80px;
    }

    .services .work {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
    }

    .services .work i {
      width: fit-content;
      font-size: 50px;
      color: #333333;
      border-radius: 50%;
      border: 2px solid #333333;
      padding: 12px;
    }

    .services .work .work-heading {
      font-size: 20px;
      color: #333333;
      text-transform: uppercase;
      margin: 10px 0;
    }

    .services .work .work-text {
      font-size: 15px;
      color: #585858;
      margin: 10px 0;
    }

    .about-founder {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 40px 80px;
      border-top: 2px solid #eeeeee;
    }

    .about-founder img {
      width: 500px;
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .about-founder-text h2 {
      font-size: 30px;
      color: #333333;
      text-transform: uppercase;
      margin: 0;
    }

    .about-founder-text p {
      font-size: 15px;
      color: #585858;
      margin: 10px 0;
    }

   
 footer {
  background-color: #121315;
  color: #ffffff;
  font-size: 16px;
}
.copyright {
  padding: 20px 80px;
  background-color: black;
}
.copyright p {
  font-size: 0.9em;
  text-align: center;
}


button {   
       background-color: green;   
       width: 100%;  
        color: white;   
        padding: 15px;   
        margin: 25px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 
 input[type=text] {   
        width: 100%;   
        margin: 10px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box; 
	position: relative;
	 
    } 

        .textinput {
            float: left;
            width: 100%;
            min-height: 75px;
            outline: none;
            box-sizing: border-box;
            border: 1px solid green;
        }
 
 input[type=password] {   
        width: 100%;   
        margin: 10px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid green;   
        box-sizing: border-box; 
}

input[type=radio]{
    width: 10%;
    padding-left: 0%;
    border: 1px solid rgb(168, 166, 166);
    border-radius: 4px;
    resize: vertical;
}

button:hover {   
        opacity: 0.7;   
    }   

span
	{
		float: right;
	}

         
